<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.OrderStockMiddleDao">

  <resultMap id="BaseResultMap" type="org.example.entities.middle.OrderStockMiddle">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="order_id" property="order_id" jdbcType="BIGINT"/>
    <result column="stock_id" property="stock_id" jdbcType="BIGINT"/>
    <result property="deducted_quantity" column="deducted_quantity" jdbcType="INTEGER"/>
    <result property="status" column="status" jdbcType="INTEGER"/>
    <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
  </resultMap>

  <insert id="addOrderStockMiddle" parameterType="org.example.entities.middle.OrderStockMiddle">
    insert into t_order_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="order_id != null">order_id,</if>
      <if test="stock_id != null">stock_id,</if>
      <if test="deducted_quantity != null">deducted_quantity,</if>
      <if test="status != null">status,</if>
      <if test="update_time != null">update_time,</if>
      <if test="create_time != null">create_time,</if>

    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=BIGINT},</if>
      <if test="order_id != null">#{order_id,jdbcType=BIGINT},</if>
      <if test="stock_id != null">#{stock_id,jdbcType=BIGINT},</if>
      <if test="deducted_quantity != null">#{deducted_quantity,jdbcType=BIGINT},</if>
      <if test="status != null">#{status,jdbcType=INTEGER},</if>
      <if test="update_time != null">#{update_time,jdbcType=TIMESTAMP},</if>
      <if test="create_time != null">#{create_time,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>


  <select id="findById" resultType="org.example.entities.middle.OrderStockMiddle">
    SELECT * FROM t_order_stock Where id = #{id};
  </select>


  <select id="findAll" resultType="org.example.entities.middle.OrderStockMiddle">
    SELECT * FROM t_order_stock;
  </select>

  <update id="updateOrderStockMiddle" parameterType="org.example.entities.middle.OrderStockMiddle">
    UPDATE `t_order_stock`
    <trim prefix='set' suffixOverrides=','>
      <if test="id != null"> id = #{id},</if>
      <if test="order_id != null"> order_id = #{order_id},</if>
      <if test="stock_id != null"> stock_id = #{stock_id},</if>
      <if test="deducted_quantity != null"> deducted_quantity = #{deducted_quantity},</if>
      <if test="status != null"> status = #{status},</if>
      <if test="create_time != null"> create_time = #{create_time},</if>
      <if test="update_time != null"> update_time = #{update_time},</if>
    </trim>
    WHERE id = #{id}
  </update>

</mapper>